<p style="color: green"><%= notice %></p>

<!-- <%= render @mining_type %>

<div>
  <%= link_to t("links.edit"), edit_mining_type_path(@mining_type) %> |
  <%= link_to t("links.back"), mining_types_path %>

  <%= button_to t("links.delete"), @mining_type, method: :delete %>
</div> -->


<div class="col-lg-8">
    <h5>
       MiningType
    </h5>
  <div class="card shadow mb-3">
    <div class="card-body">
      <%= render @mining_type %>
    </div>
  </div>
  <div class="mt-5">
      <%= link_to "Edit this Mining Type", edit_mining_type_path(@mining_type), class: "btn btn-warning" %>
      <%= link_to "Back to Mining Types", mining_types_path, class: "btn btn-outline-primary" %>

      <%= button_to "Destroy this Mining Type", @mining_type, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
